* {
    margin: 0;
}
.container {
  display: flex;
  height: 100vh;
}

.img,
.form-center {
    width: 50vw;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .7px solid #ddd;
    background-image: linear-gradient(180deg, blue, transparent);
}

.img img {
    height: 10rem;
}

.form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campos {
    display: flex;
    flex-direction: column;
    margin: 0 10rem 0 5rem;
}

.campos h2 {
 text-align: center;
 margin-bottom: 2rem;
 font-size: 1.6rem;
 font-family: 'Roboto';
}

.form-center input, textarea {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: .9px #ddd solid;
    padding: .7rem;
    outline: 0;
    color: #495057;
}

textarea:focus, input:focus, select:focus {
    border-color: rgba(40, 167, 69, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 

textarea {
    height: 5rem;
    resize: none;
}

.btn {
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}
